global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend cockroach
    bind *:26257
    default_backend cockroach_nodes

backend cockroach_nodes
    balance roundrobin
    option tcp-check

    server roach1 roach1:26257 check
    server roach2 roach2:26257 check
    server roach3 roach3:26257 check
